@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
body{background-color: #fff;}
ul, ol, li{list-style: none; margin: 0; padding: 0;}
a{text-decoration: none;}


#wrap{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

/* 헤더[메뉴] */
header{
    width: 100%;
    max-width: 1920px;
    height: 116px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    background-color:  rgba(3, 3, 3, 0.55);
    z-index: 10;
}

.left_header{
    height: 116px;
}
.left_header .logo{
    width: 159px;
    height: 99px;
    margin: 8.5px 0;
}
.left_header .b{
    margin-bottom: 8.5px;
}

.header_nav ul{
    display: flex;
}
.header_nav a{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    margin: 0 0.78vw;
}

.right_header{
    display: flex;
}
.right_header ul{
    display: flex;
}
.right_header a{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    margin: 0 0.26vw;
}

.mobile_menu nav{
    display: none;
}

.mobile_menu nav > ul{
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    margin-top: 35%;
    margin-right: 15px;
}
.mobile_menu nav > ul li a{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    line-height: 50px;
}
.mobile_menu nav > .menu-bottom ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: 15px;
}
.mobile_menu nav > .menu-bottom li{
    margin: 0 5px;
}
.mobile_menu nav > .menu-bottom a{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}

header .b:hover{opacity: 0.5;}
header .header_nav a:hover{opacity: 0.4;}
header .right_header a:hover{opacity: 0.4;}
.mobile_menu a:hover{opacity: 0.4;}

.toggle{
    border-style: none;
    background-color: transparent;
    display: none;
}
.toggle2{
    border-style: none;
    background-color: transparent;
    display: none;
}
/* 슬라이더 */
#slider1{
    width: 100%;
    max-width: 1920px;
    height: 75vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#slider1::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../2_slider/RIIZE1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.9;
}

#slider1 p{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 130px;
    text-shadow: 15px 4px #000;
    margin-top: 2%;
}

/* 푸터 */
footer{
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
    padding: 1%;
    background-color: #333;
    opacity: 0.7;
    text-align: center;
}

footer ul{
    display: flex;
    justify-content: center;
}
footer li{
    margin: 10px 10px;
}
footer li > a{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: center;
}

footer a > img{
    width: 412px;
    height: 257px;
    margin: 30px 0;
}

footer > P{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-bottom: 10px;
}