*{margin: 0; padding: 0; box-sizing: border-box;}
body{background-color: #fff;}
ul, ol, li{list-style: none; margin: 0; padding: 0;}
a{text-decoration: none;}

#wrap{
    width: 100%;
    margin: 0 auto;
}

/* 헤더[메뉴] */
header{
    width: 100%;
    height: 116px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

header::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 116px;
    background-color: #333;
    opacity: 0.8;
    z-index: -1;
}

.left_header{
    height: 116px;
}
.left_header .logo{
    width: 159px;
    height: 99px;
    margin: 8.5px 5px;
}
.left_header .b{
    margin-bottom: 8.5px;
}

.header_nav ul{
    display: flex;
}
.header_nav a{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
    margin: 0 15px;
}

.right_header{
    display: flex;
}
.right_header ul{
    display: flex;
}
.right_header a{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    margin: 0 5px;
}

header .b:hover{opacity: 0.5;}
header .header_nav a:hover{opacity: 0.4;}
header .right_header a:hover{opacity: 0.4;}


/* 슬라이더 */
#slider1{
    max-width: 100%;
    height: 822px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#slider1::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../2_slider/RIIZE1.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.9;
}

#slider1 p{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 150px;
    text-shadow: 15px 4px #000;
    margin-top: 2%;
}

/* 인기음악 */
#music{
    width: 1542px;
    height: 1015px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: antiquewhite;
}

#music p{
    width: 100%;
    height: 0;
    margin: 5% 0;
    color: #333;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 120px;
    text-align: center;
}

/* .slider_wrap{
    width: 100%;
    max-width: 1542px;
    height: 488px;
    position: relative;
    overflow: hidden;
}

.slider{
    display: flex;
    gap: 40px;
    width: fit-content;
    position: absolute;
}
.slider a{
    width: 488px;
    height: 488px;
    display: flex;
    align-items:flex-end;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
    background-color: azure;
}

.textbox{
    width: 100%;
    height: 137px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textbox::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.7;
    z-index: 2;
}
.textbox span{
    position: absolute;
    z-index: 3;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    text-align: center;
} */

/* 앨범 */
#album{
    width: 1280px;
    height: 2625px;
    margin: 0 auto;
    background-color: aliceblue;
}

/* 라이즈2 */
#riize2{
    width: 100%;
    height: 882px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#riize2::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../2_slider/RIIZE2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    z-index: -1;
}

#riize2 p{
    position: absolute;
    z-index: 3;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 150px;
    text-shadow: 15px 4px #000;
}

/* 멤버 */
#member{
    width: 1280px;
    height: 1830px;
    margin: 0 auto;
    background-color: aliceblue;
}

/* 푸터 */
footer{
    width: 100%;
    height: 462px;
    margin: 0 auto;
    background-color: #333;
    opacity: 0.7;
}