@charset "utf-8";

/* 인기음악 */
#music{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly;
}

#music > p{
    width: 100%;
    color: #333;
    margin: 5% 0;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 130px;
    text-align: center;
}

.slider_wrap{
    width: 76.25vw;
    height: 51.2vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 6%;
}

.slide{width: 200%;}
.slide li{
    width: 25.41vw;
    height: 51.2vh;
    float: left;
    position: relative;
}
.slide img{
    width: 100%; 
    height: 100%;
}

#music > span{
    position: absolute;
    text-align: center;
    top: 60%;
    display: block;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color:  rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    opacity: 0.6;
    transform: translateY(-50%);
}
.prev{left: 3%;  padding-top: 10px;}
.prev img{width: 80px;}
.next{right: 3%; padding-top: 10px;}
.next img{width: 80px;}

.textbox{
    width: 100%;
    height: 137px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textbox > span{
    color: #fff;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}

/* 앨범 */
#album{
    width: 1600px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: start;
}
#album > p{
    width: 100%;
    height: auto;
    margin-bottom: 8%;
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 130px;
    text-align: center;
}

.albumbox-wrap{
    width: 1300px;
    height: 1800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
}
.albumbox{
    width: 510px;
    height: auto;
    box-shadow: 1.04vw 2.09vh 1.04vw #979797;
    background-color: #F6F6F6;
    text-align: center;
}
.albumbox a > img{
    height: 500px;
    width: 500px;
    padding-top: 1%;
}
.albumbox a > img:hover{opacity: 0.7;}

.title2{margin: 0 auto; padding: 5% 0;}
.title2 > a > span{
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    display: block;
    margin-top: 5%;
    margin-bottom: 2%;
}
.title2 > p {
    display: inline;
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}
.title2 > .smallriize{
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}


.title{margin: 0 auto;}
.title > a > span{
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    display: block;
    margin-top: 5%;
    margin-bottom: 2%;
}
.title > p {
    display: inline;
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}
.title > .smallriize{
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

.albumbox > img[alt="플레이바"]{
    margin-top: 5%;
}

.playbox{margin: 4% 0;}
.playbox > button{
    border-style: none;
    background-color: transparent;
    margin: 10px 20px;
    cursor: pointer;
    width: 40px;
    height: 50px;
}
.playbox > button img{
    width: 50px;
}
.skip > img[alt="왼쪽 스킵"]{
    width: 45px;
    margin-bottom: 2px;
}
.next-skip > img[alt="다음"]{
    width: 45px;
    margin-bottom: 2px;
}


.playbox > .stop1{display: none;}
.playbox > .stop2{display: none;}
.playbox > .stop3{display: none;}
.playbox > .stop4{display: none;}

.playbox > .no-sound1{display: none;}
.playbox > .no-sound2{display: none;}
.playbox > .no-sound3{display: none;}
.playbox > .no-sound4{display: none;}

#album > a{
    color: #FF7700;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 55px;
    border: 5px solid #FF7700;
    margin: 7% 0;
    padding: 5px 8%;
    border-radius: 60px;
}

/* 라이즈2 */
#riize2{
    width: 100%;
    max-width: 1920px;
    height: 86.28vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#riize2::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../2_slider/RIIZE2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    z-index: -1;
}

#riize2 p{
    position: absolute;
    z-index: 3;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 130px;
    text-shadow: 15px 4px #000;
}

/* 멤버 */
#member{
    width: 1280px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: start;
    text-align: center;
}

#member > p{
    width: 100%;
    height: auto;
    margin-bottom: 8%;
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 130px;
    text-align: center;
    margin: 7% 0;
}

.memberbox{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: space-around;
}
.memberbox > a{
    width: 357px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
.memberbox > a > img{
    width: 100%;
    box-shadow: 1.04vw 0.5vh 1.04vw #979797;
}
.memberbox > a > p {
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    text-align: center;
    margin-top: 20px;
    line-height: 45px;
}
.memberbox > a > p span{
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

#member > span{
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 6vw;
    text-align: center;
    margin-top: 5px;
    line-height: 15vh;
    margin: 4% 0 8%;
}
#member > span a{
    color: #333;
    cursor: pointer;
    text-decoration: none;
}
#member > span a:hover{color: #FF7700;}