*{margin: 0; padding: 0; box-sizing: border-box;}
body{background-color: #fff;}
ul, ol, li{list-style: none; margin: 0; padding: 0;}
a{text-decoration: none;}

#wrap{
    width: 100%;
    margin: 0 auto;
}

/* 헤더[메뉴] */
header{
    width: 100%;
    height: 10.74vh;
    margin: 0 auto;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color:  rgba(3, 3, 3, 0.55);
    z-index: 10;
}

.left_header{
    height: 10.74vh;
}
.left_header .logo{
    width: 8.28vw;
    height: 9.16vh;
    margin: 0.78vh 0.26vw;
}
.left_header .b{
    margin-bottom: 0.78vh;
}

.header_nav ul{
    display: flex;
}
.header_nav a{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 1.3vw;
    margin: 0 0.78vw;
}

.right_header{
    display: flex;
}
.right_header ul{
    display: flex;
}
.right_header a{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    margin: 0 0.26vw;
}

header .b:hover{opacity: 0.5;}
header .header_nav a:hover{opacity: 0.4;}
header .right_header a:hover{opacity: 0.4;}


/* 슬라이더 */
#slider1{
    width: 100%;
    height: 76.11vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#slider1::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../2_slider/RIIZE1.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.9;
}

#slider1 p{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 7.8vw;
    text-shadow: 0.78vw 0.2vw #000;
    margin-top: 2%;
}

/* 인기음악 */
#music{
    width: 98vw;
    height: 83.33vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#music > p{
    width: 100%;
    color: #333;
    margin-top: 3%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 6.25vw;
    text-align: center;
}

.slider_wrap{
    width: 76.25vw;
    height: 45.18vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 5%;
}

.slide{width: 200%;}
.slide li{
    width: 25.41vw;
    height: 45.18vh;
    float: left;
    position: relative;
}
.slide img{width: 100%; height: 100%;}

#music > span{
    position: absolute;
    top: 60%;
    display: block;
    width: 5.2vw;
    height: 9.25vh;
    cursor: pointer;
    background-color:  rgba(0, 0, 0, 0.7);
    border-radius: 1vw;
    opacity: 0.6;
    transform: translateY(-50%);
}
.prev{left: 3%; padding: 0.37vh 0;}
.prev img{width: 4.16vw;}
.next{right: 3%; padding: 0.37vh 0; padding-left: 11px;}
.next img{width: 4.16vw;}

.textbox{
    width: 100%;
    height: 137px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textbox > span{
    color: #fff;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}

/* 앨범 */
#album{
    width: 1280px;
    height: 2625px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: start;
}
#album > p{
    width: 100%;
    height: auto;
    margin-bottom: 8%;
    color: #333;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 120px;
    text-align: center;
}

.albumbox-wrap{
    width: 1280px;
    height: 2056px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}
.albumbox{
    width: 613px;
    height: 1000px;
    box-shadow: 10px 0 15px #333;
    background-color: #F6F6F6;
    text-align: center;
}
.albumbox a > img{
    height: 600px;
    margin-top: 1%;
    margin-left: 0.4%;
}
.albumbox a > img:hover{opacity: 0.7;}

.title2{margin: 0 auto; padding: 5% 0;}
.title2 > a > span{
    color: #333;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    display: block;
    margin-top: 5%;
    margin-bottom: 2%;
}
.title2 > p {
    display: inline;
    color: #333;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}
.title2 > .smallriize{
    color: #333;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}


.title{margin: 0 auto;}
.title > a > span{
    color: #333;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    display: block;
    margin-top: 5%;
    margin-bottom: 2%;
}
.title > p {
    display: inline;
    color: #333;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}
.title > .smallriize{
    color: #333;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

.albumbox > img[alt="플레이바"]{margin-top: 5%;}

.playbox{margin-top: 4%;}
.playbox > button{
    border-style: none;
    background-color: transparent;
    margin: 0 20px;
    cursor: pointer;
    width: 60px;
    height: 60px;
}
.skip > img[alt="왼쪽 스킵"]{margin-bottom: 5px;}
.next-skip > img[alt="다음"]{margin-bottom: 5px;}


.playbox > .stop1{display: none;}
.playbox > .stop2{display: none;}
.playbox > .stop3{display: none;}
.playbox > .stop4{display: none;}

.playbox > .no-sound1{display: none;}
.playbox > .no-sound2{display: none;}
.playbox > .no-sound3{display: none;}
.playbox > .no-sound4{display: none;}

#album > a{
    color: #FF7700;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 55px;
    border: 5px solid #FF7700;
    margin-top: 8%;
    padding: 5px 8%;
    border-radius: 60px;
}

/* 라이즈2 */
#riize2{
    max-width: 100%;
    height: 882px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#riize2::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../2_slider/RIIZE2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    z-index: -1;
}

#riize2 p{
    position: absolute;
    z-index: 3;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 150px;
    text-shadow: 15px 4px #000;
}

/* 멤버 */
#member{
    width: 1280px;
    height: 1830px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: start;
    text-align: center;
}

#member > p{
    width: 100%;
    height: auto;
    margin-bottom: 8%;
    color: #333;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 120px;
    text-align: center;
    margin-top: 8%;
}

.memberbox{
    width: 100%;
    height: 1195px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}
.memberbox > a{
    width: 357px;
    height: 568px;
}
.memberbox > a > img{
    width: 100%;
    box-shadow: 10px 0 15px #333;
}
.memberbox > a > p {
    color: #333;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    text-align: center;
    margin-top: 5px;
    line-height: 50px;
}
.memberbox > a > img:hover{opacity: 0.7;}

#member > span{
    color: #333;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    text-align: center;
    margin-top: 5px;
    line-height: 80px;
    margin-top: 3%;
}


/* 푸터 */
footer{
    width: 100%;
    height: 462px;
    margin: 0 auto;
    background-color: #333;
    opacity: 0.7;
    text-align: center;
}

footer ul{
    display: flex;
    justify-content: center;
}
footer li{
    margin: 20px 10px;
}
footer li > a{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}

footer a > img{
    width: 412px;
    height: 257px;
    margin: 20px 0;
}

footer > P{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 15px 0;
}

/* 미디어쿼리 */
