@charset "utf-8";
/* -------------------- 멤버 프로필 창 --------------------------- */
#profile{
    width: 94.01vw;
    height: auto;
    margin: 0 auto;
}

#profile > h2{
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 6.77vw;
    text-align: center;
    padding: 4% 0;
}
#profile > p{
    color: #333;
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5.2vw;
    text-align: center;
}
#profile > .profile-p{
    width: 55.729vw;
    margin: 2% auto;
    color: #FF7700;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 6.77vw;
    text-align: center;
    text-shadow: -0.15625vw 0vw #fff, 0vw 0.3145vh #fff, 0.15625vw 0vw #fff, 0vw -0.3145vh #fff, 0.78125vw 0vw 0.20833vw #535252;
    padding-bottom: 2%;
    cursor: pointer;
}
#profile > .profile-p span{
    display: inline;
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 6.77vw;
}

#profile > .member-profile{
    width: 100%;
    display: flex;
}
#profile > .member-profile li{
    width: 15.668vw;
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.08vw;
    text-align: center;
    text-shadow: 0px 0.419vh 0.5246vh #747474;
    cursor: pointer;
}
#profile > .member-profile li img{
    width: 13.02vw;
    height: auto;
    filter: drop-shadow(0.3125vw 0px 0.5246vh rgba(0, 0, 0, 0.6));
}

#profile > .profile-p:hover{opacity: 0.7;}
#profile > .member-profile li img:hover{opacity: 0.7;}


/* ----- 소개 창 + 라이즈 브리즈 소개 ---------- */
#profile-box-wrap{
    width: 78.125vw;
    height: auto;
    margin: 5% auto;
}

#profile-box-wrap > .riize-briize-box{
    width: 78.125vw;
    height: auto;
    margin: 0 auto;
    border: 2px solid #333;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../sub_photo/we_one.jpg) center/cover no-repeat;
    text-align: center;
}

#profile-box-wrap > .riize-briize-box h2{
    width: 28vw;
    padding: 1%;
    height: auto;
    margin: 8% auto;
    color: #FF7700;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.08vw;
    text-align: center;
    font-size: 5.2vw;
    text-shadow: -0.15625vw 0vw #fff, 0vw 0.3145vh #fff, 0.15625vw 0vw #fff, 0vw -0.3145vh #fff, 0.78125vw 0vw 0.20833vw #535252;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.riize-textbox p, 
.briize-textbox p{
    width: 75vw;
    height: auto;
    margin: 0 auto;
    padding: 3.147vh 0;
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.56vw;
    text-align: center;
    line-height: 6vh;
    background-color: rgba(255, 255, 255, 0.5);
}
.briize-textbox,
.riize-textbox{
    margin: 6% 0;
}

.riize-briize-box > p{
    margin: 9% 0;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    font-size: 2.6vw;
}

/* --------------- 멤버 설명 공통된것 --------------- */
.shotaro-box,
.eunseok-box,
.sungchan-box,
.wonbin-box,
.sohee-box,
.anton-box{
    width: 100%;
    border: 2px solid #333;
}

.shotaro-box h2,
.eunseok-box h2,
.sungchan-box h2,
.wonbin-box h2,
.sohee-box h2,
.anton-box h2{
    padding: 4% 0;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5.2vw;
    color: #333;
    text-shadow: -0.15625vw 0vw #fff, 0vw 0.3145vh #fff, 0.15625vw 0vw #fff, 0vw -0.3145vh #fff, 0.78125vw 0vw 0.20833vw #747474;
}

.shotaro-box h2 span,
.eunseok-box h2 span,
.sungchan-box h2 span,
.wonbin-box h2 span,
.sohee-box h2 span,
.anton-box h2 span{
    color: #FF7700;
}

.shotaro-box > div,
.eunseok-box > div,
.sungchan-box > div,
.wonbin-box > div,
.sohee-box > div,
.anton-box > div{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-bottom: 7%;
}

.shotaro-box > div > img[alt="쇼타로"],
.eunseok-box > div > img[alt="은석"],
.sungchan-box > div > img[alt="성찬"],
.wonbin-box > div > img[alt="원빈"],
.sohee-box > div > img[alt="소희"],
.anton-box > div > img[alt="앤톤"]{
    width: 500px;
    height: 666px;
    box-shadow: 0.78vw 0.524vh 0.52vw #747474;
    cursor: pointer;
}

.shotaro-box > div > ul > li,
.eunseok-box > div > ul > li,
.sungchan-box > div > ul > li,
.wonbin-box > div > ul > li,
.sohee-box > div > ul > li,
.anton-box > div > ul > li{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5625vw;
    text-align: center;
    line-height: 7vh;
    color: #333;
    text-align: left;
}

.shotaro-box > div > ul > li > span,
.eunseok-box > div > ul > li > span,
.sungchan-box > div > ul > li > span,
.wonbin-box > div > ul > li > span,
.sohee-box > div > ul > li > span,
.anton-box > div > ul > li > span{
    font-size: 1.041vw;
}

.shotaro-box > div > img[alt="쇼타로싸인"],
.eunseok-box > div > img[alt="은석싸인"],
.sungchan-box > div > img[alt="성찬싸인"],
.wonbin-box > div > img[alt="원빈싸인"],
.sohee-box > div > img[alt="소희싸인"],
.anton-box > div > img[alt="앤톤싸인"]{
    width: 26.4vw;
    height: auto;
}


/* 쇼타로 */
.shotaro-box{
    height: 2001px;
}

.shotaro-box > div > ul:nth-of-type(2){
    padding: 2% 8%;
}

.shotaro-box > div > img[alt="쇼타로싸인"]{
    position: absolute;
    right: 7%;
    bottom: -1%;
}

/* 은석*/
.eunseok-box{
    height: 212vh;
}

.eunseok-box > div > ul:nth-of-type(1){
    padding-right: 5%;
}
.eunseok-box > div > ul:nth-of-type(2){
    padding: 2% 9%;
}

.eunseok-box > div > img[alt="은석싸인"]{
    position: absolute;
    right: 7%;
    bottom: 2%;
}

/* 성찬 */
.sungchan-box{
    height: 250vh;
}

.sungchan-box > div > ul:nth-of-type(1){
    padding-right: 6%;
}
.sungchan-box > div > ul:nth-of-type(2){
    padding: 2% 10%;
}

.sungchan-box > div > img[alt="성찬싸인"]{
    position: absolute;
    right: 7%;
    bottom: -5%;   
}

/* 원빈 */
.wonbin-box{
    height: 225vh;
}
.wonbin-box > div > ul:nth-of-type(1){
    padding-right: 5%;
}
.wonbin-box > div > ul:nth-of-type(2){
    padding: 2% 10%;
}

.wonbin-box > div > img[alt="원빈싸인"]{
    position: absolute;
    right: 7%;
    bottom: 3.5%;
}

/* 소희 */
.sohee-box{
    height: 218.258vh;
}

.sohee-box > div > ul:nth-of-type(1){
    padding-right: 5%;
}
.sohee-box > div > ul:nth-of-type(2){
    padding: 2% 0; 
    padding-right: 6%;
}

.sohee-box > div > img[alt="소희싸인"]{
    position: absolute;
    right: 5%;
    bottom: -6.5%;
}

/* 앤톤 */
.anton-box{
    height: 220vh;
}

.anton-box > div > ul:nth-of-type(1){
    padding-right: 5%;
}
.anton-box > div > ul:nth-of-type(2){
    padding: 2% 8%
}

.anton-box > div > img[alt="앤톤싸인"]{
    position: absolute;
    right: 7%;
    bottom: -6.5%;
}

/* ------------------------- */
#profile-box-wrap > div:not(:first-child){
    display: none;
}