@charset "utf-8";
/* -------------------- 멤버 프로필 창 --------------------------- */
#profile{
    width: 94.01vw;
    height: auto;
    margin: 0 auto;
}

#profile > h2{
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 6.77vw;
    text-align: center;
    padding: 4% 0;
}
#profile > p{
    color: #333;
    font-family: "Abhaya Libre", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4vw;
    text-align: center;
}
#profile > .profile-p{
    width: 55.729vw;
    margin: 2% auto;
    color: #FF7700;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 6.77vw;
    text-align: center;
    text-shadow: -0.15625vw 0vw #fff, 0vw 0.3145vh #fff, 0.15625vw 0vw #fff, 0vw -0.3145vh #fff, 0.78125vw 0vw 0.20833vw #979797;
    padding-bottom: 2%;
    cursor: pointer;
}
#profile > .profile-p span{
    display: inline;
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 6.77vw;
}

#profile > .member-profile{
    width: 100%;
    display: flex;
}
#profile > .member-profile li{
    width: 15.668vw;
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.08vw;
    text-align: center;
    text-shadow: 0px 0.419vh 0.5246vh #979797;
    cursor: pointer;
}
#profile > .member-profile li img{
    width: 13.02vw;
    height: auto;
    filter: drop-shadow(0.3125vw 0px 0.5246vh rgba(0, 0, 0, 0.6));
}

#profile > .profile-p:hover{opacity: 0.7;}
#profile > .member-profile li img:hover{opacity: 0.7;}


/* ----- 소개 창 + 라이즈 브리즈 소개 ---------- */
#profile-box-wrap{
    width: 78.125vw;
    height: auto;
    margin: 5% auto;
}

#profile-box-wrap > .riize-briize-box{
    width: 78.125vw;
    height: auto;
    margin: 5% auto;
    border: 2px solid #333;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../sub_photo/we_one.jpg) center/cover no-repeat;
    text-align: center;
}

#profile-box-wrap > .riize-briize-box h2{
    width: 28vw;
    padding: 1%;
    height: auto;
    margin: 8% auto;
    color: #FF7700;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.08vw;
    text-align: center;
    font-size: 5.2vw;
    text-shadow: -0.15625vw 0vw #fff, 0vw 0.3145vh #fff, 0.15625vw 0vw #fff, 0vw -0.3145vh #fff, 0.78125vw 0vw 0.20833vw #848484;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.riize-textbox p, 
.briize-textbox p{
    width: 75vw;
    height: auto;
    margin: 0 auto;
    padding: 3.147vh 0;
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.56vw;
    text-align: center;
    line-height: 6vh;
    background-color: rgba(255, 255, 255, 0.5);
}
.briize-textbox,
.riize-textbox{
    margin: 6% 0;
}

.riize-briize-box > p{
    margin: 9% 0;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    font-size: 2.6vw;
}

/* --------------- 멤버 설명 공통된것 --------------- */
.member-profile-box{
    width: 100%;
    border: 2px solid #333;
}

.member-profile-box h2{
    padding: 4% 0;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5.2vw;
    color: #333;
    text-shadow: -0.15625vw 0vw #fff, 0vw 0.3145vh #fff, 0.15625vw 0vw #fff, 0vw -0.3145vh #fff, 0.7vw 0 0.20833vw #979797;
}

.member-profile-box h2 span{
    color: #FF7700;
}

.member-profile-box div{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-bottom: 7%;
}

.member-profile-box .profile-img{
    width: 26.041vw;
    height: auto;
    box-shadow: 1.04vw 0.5vh 1.04vw #979797;
    cursor: pointer;
}

.member-profile-box .sign-img{
    position: absolute;
    width: 23.4375vw;
    height: auto;
}

.member-profile-box table{
    border-collapse: collapse;
}

.member-profile-box .profile-table th,td{
    border: 1px solid #333;
    text-align: left;
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.197vw;
}

.member-profile-box .profile-table td span{
    font-size: 0.78vw;
}

.member-profile-box .table1 th{
    width: 10.41vw;
    text-align: center;
    background-color: #f3f2f2;
}

.member-profile-box .table1 td:not(:first-child){
    width: 26.04vw;
    padding: 2.098vh 1.04vw;
}

.member-profile-box .table2{
   margin: 4vh 0;
}

.member-profile-box .table2 th{
    width: 13vw;
    text-align: center;
    background-color: #f3f2f2;
}
.member-profile-box .table2 td:not(:first-child){
    width: 54.5vw;
    padding: 2.098vh 1.04vw;
}

/* 쇼타로 */
.shotaro-box{
    height: 202vh;
}

.shotaro-box .sign-img{
    right: 7%;
    bottom: 1%;
}

/* 은석*/
.eunseok-box{
    height: 202vh;
}

.eunseok-box .sign-img{
    right: 7%;
    bottom: 2%;
}

/* 성찬 */
.sungchan-box{
    height: 225vh;
}

.sungchan-box .sign-img{
    right: 7%;
    bottom: -7%;   
}

/* 원빈 */
.wonbin-box{
    height: 198vh;
}

.wonbin-box .sign-img{
    right: 7%;
    bottom: 3%;
}

/* 소희 */
.sohee-box{
    height: 194vh;
}

.sohee-box .sign-img{
    right: 5%;
    bottom: -2%;
}

/* 앤톤 */
.anton-box{
    height: 200vh;
}

.anton-box .sign-img{
    right: 7%;
    bottom: -5%;
}

/* ------------------------- */
#profile-box-wrap > div:not(:first-child){
    display: none;
}