/*---------------- ~480px ----------------*/
@media (max-width: 480px){
    #wrap{
        max-width: 480px;
        height: auto;
        margin: 0 auto;
    }
    header, 
    #slider1, 
    #music, 
    #riize2, 
    footer{
        max-width: 100%;
    }
    #album, 
    .album-wrap, 
    #member,
    .memberbox{
        max-width: 83.33vw;
    }

    #music, 
    #album, 
    #member,
    footer{
        height: auto;
    }

    #music > p,
    #album > p,
    #member > p{
        font-size: 8vw;
    }

    #slider1,
    #riize2{
        height: 30vh;
    }
    #slider1 > p,
    #riize2 > p{
        font-size: clamp(40px, 9.37vw, 45px);
        text-shadow: 1.04vw 3px #000;
    }

    #music > p,
    #album > p{
        margin: 7% 0;
    }

    /* 헤더 */
    .header_nav,
    .right_header > nav{
        display: none;
    }

    header{
        justify-content: center;
        height: auto;
    }
    .left_header{
        height: 7.34vh;
    }
    .left_header .logo{
        width: 18.75vw;
        height: 5.87vh;
        margin: 0.73vh 0;
    }
    .left_header .b{
        width: 3.125vw;
        margin-bottom: 0.73vh;
    }

    .toggle2{
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        cursor: pointer;
        z-index: 100;
    }
    .toggle2 > img{
        width: 5.83vw;
    }

    .mobile_menu nav{
        display: block;
        position: fixed;
        right: -100%;
        top: 0;
        width: 280px;
        height: 100vh;
        transition: right 0.4s;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .mobile_menu nav.active{
        right: 0;
    }

    .mobile_menu nav > ul{
        margin-top: 22%;;
        margin-right: 20px;
    }


    /* 인기 음악 */
    .slider_wrap{
        width: 56.25vw;
        height: 32.49vh;
    }
    .slide li{
        width: 56.25vw;
        height: 32.49vh;
    }
    #music > span{
        width: 12vw;
        height: auto;
        top: 62%;
    }
    .prev{
        left: 3%;
        padding-left: 2.5%;
        padding-bottom: 2%;
    }
    .prev img{
        width: 6vw;
        height: 3.5vh;
        margin-top: 6%;
    }
    .next{
        right: 3%;
        padding-left: 3.5%;
        padding-bottom: 2%;
    }
    .next img{
        width: 6vw;
        height: 3.5vh;
        margin-top: 7%;
    }
    .textbox{
        height: 7.869vh;
    }
    .textbox > span{
        font-size: 4.5vw;
    }

     /* 앨범 */
     .albumbox-wrap{
        height: auto;
        row-gap: 9vw;
        flex-direction: column;
        align-content: center;
    }

    .albumbox{
        width: 58.33vw;
        height: auto;
        margin-top: 1.049vh;
    }
    .albumbox a > img{
        width: 58.33vw;
        height: 33.69vh;
        padding: 1%;
    }
    .title{
        margin-top: 1.25vh;
    }
    .title > a > span,
    .title2 > a > span{
        font-size: 5vw;
    }
    .title > p,
    .title2 > p,
    .title > .smallriize,
    .title2 > .smallriize{
        font-size: 3vw;
    }

    img[alt="플레이바"]{
        width: 35vw;
    }

    .playbox > button img{
        width: 5.5vw;
    }
    .playbox > button{
        width: 5.5vw;
        height: 5.24vh;
        margin: 0 2vw;
    }
    .skip > img[alt="왼쪽 스킵"],
    .next-skip > img[alt="다음"]{
        width: 4.5vw;
        margin-bottom: 0.5vh;
    }

    #album > a{
        font-size: 3.8vw;
        padding: 0.5vh 8%;
        border: 3px solid #FF7700;
        margin: 10% 0;
    }

     .memberbox{
        height: auto;
        justify-content: space-around;
    }
    .memberbox > a{
        width: 35vw;
        height: auto;
        margin-bottom: 30px;
    }
    .memberbox > a > p{
        font-size: 2.77vw;
        line-height: 2.09vh;
    }
    #member > span{
        margin-bottom: 8%;
        font-size: 8vw;
        line-height: 5vh;
    }

    /* 푸터 */
    footer li{
        margin: 0.2vh 0.69vw;
    }
    footer li > a{
        font-size: 1.73vw;
    }
    footer a > img{
        width: 41.66vw;
        height: 13.11vh;
        margin: 1.64vh 0;
    }
    footer > P{
        font-size: 1.38vw;
        padding-bottom: 1.2vh;
    }
}



/*---------------- 481px~1024 ----------------*/
@media (min-width: 481px) and (max-width: 1024px){
    #wrap{
        max-width: 1024px;
        height: auto;
        margin: 0 auto;
    }

    header, 
    #slider1, 
    #music, 
    #riize2, 
    footer{
        max-width: 100%;
    }

    #album, 
    .album-wrap, 
    #member,
    .memberbox{
        max-width: 83.33vw;
    }

    #music, 
    #album, 
    #member,
    footer{
        height: auto;
    }

    #music > p,
    #album > p,
    #member > p{
        font-size: 8vw;
    }

    #slider1,
    #riize2{
        height: 60vh;
    }
    #slider1 > p,
    #riize2 > p{
        font-size: clamp(90px , 9vw, 100px);
        text-shadow: 1.04vw 4px #000;
    }

    /* 헤더 */
    .header_nav,
    .right_header > nav{
        display: none;
    }
 
    header{
        justify-content: center;
    }

    .toggle2{
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        cursor: pointer;
        z-index: 100;
    }
    .toggle2 > img{
        width: 35px;
    }

    .mobile_menu nav{
        display: block;
        position: fixed;
        right: -100%;
        top: 0;
        width: 250px;
        height: 100vh;
        transition: right 0.4s;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .mobile_menu nav.active{
        right: 0;
    }

    /* 인기음악 */
    .slider_wrap{
        width: 63.47vw;
        height: 34.1vh;
    }
    .slide li{
        width: 31.73vw;
        height: 34.1vh;
    }
    #music > span{
        width: 7vw;
        height: auto;
        top: 62%;
    }
    .prev{
        left: 3%;
        padding-left: 0.2%;
        padding-bottom: 0.1%;
    }
    .prev img{
        width: 5.5vw;
    }
    .next{
        right: 3%;
        padding-top: 0.839vh;
        padding-bottom: 0.2vh;
        padding-left: 0.97vw;
    }
    .next img{
        width: 5.5vw;
    }
    .textbox{
        height: 11.54vh;
    }
    .textbox > span{
        font-size: 3.12vw;
    }

    /* 앨범 */
    .albumbox-wrap{
        height: auto;
        row-gap: 6.25vw;
    }

    .albumbox{
        width: 34.14vw;
        height: auto;
    }
    .albumbox a > img{
        width: 34.14vw;
        height: 36.72vh;
        padding: 1%;
    }

    .title > a > span,
    .title2 > a > span{
        font-size: 2.7vw;
    }
    .title > p,
    .title2 > p,
    .title > .smallriize,
    .title2 > .smallriize{
        font-size: 1.38vw;
    }

    img[alt="플레이바"]{
        width: 17vw;
    }

    .playbox > button img{
        width: 3.47vw;
    }
    .playbox > button{
        width: 3.47vw;
        height: 5.24vh;
        margin: 0 1.05vw;
    }
    .skip > img[alt="왼쪽 스킵"],
    .next-skip > img[alt="다음"]{
        width: 3.125vw;
        margin-bottom: 0.2vh;
    }

    #album > a{
        font-size: 3.8vw;
        padding: 0.5vh 8%;
    }

    /* 멤버들 */
    .memberbox{
        height: auto;
        justify-content: space-evenly;
    }
    .memberbox > a{
        width: 30vw;
        height: auto;
        margin-bottom: 4.19vh;
    }
    .memberbox > a > p{
        font-size: 2.77vw;
        line-height: 4.19vh;
    }
    #member > span{
        margin-bottom: 8%;
        font-size: 8vw;
        line-height: 12vh;
    }

    /* 푸터 */
    footer li{
        margin: 1.32vh 0.69vw;
    }
    footer li > a{
        font-size: 1.73vw;
    }
    footer a > img{
        width: 24.41vw;
        height: 16.36vh;
        margin: 2.64vh 0;
    }
    footer > P{
        font-size: 1.38vw;
        padding-bottom: 1.32vh;
    }
}



/*---------------- 1025px~1440px ----------------*/
@media (min-width: 1025px) and (max-width: 1440px){
    #wrap{
        max-width: 1440px;
        height: auto;
        margin: 0 auto;
    }

    header, 
    #slider1, 
    #music, 
    #riize2, 
    footer{
        max-width: 100%;
    }
    
    #album, 
    .album-wrap, 
    #member,
    .memberbox{
        max-width: 83.33vw;
    }

    #music, 
    #album, 
    #member,
    footer{
        height: auto;
    }

    #music > p,
    #album > p,
    #member > p{
        font-size: 8vw;
    }

    #slider1,
    #riize2{
        height: 75vh;
    }
    #slider1 > p,
    #riize2 > p{
        font-size: clamp(110px, 8.33vw, 120px);
        text-shadow: 1.04vw 4px #000;
    }

    /* 헤더 */
    .left_header .logo{
        width: 9.29vw;
        height: 11.12vh;
        margin: 5px 0;
    }
    .left_header .b{
        width: 1.95vw;
        margin: 5px 0;
    }

    .header_nav a{
        font-size: 1.64vw;
    }

    .right_header nav{
        position: fixed;
        right: -100%;
        top: 0;
        width: 250px;
        height: 100vh;
        transition: right 0.4s;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .right_header > nav.active{
        right: 0;
    }
    .right_header > nav ul{
        flex-direction: column;
        align-items: flex-end;
        margin-top: 40%;
        margin-right: 20px;
    }
    .right_header > nav ul li a{
        font-size: 25px;
    }

    .toggle{
        display: block;
        cursor: pointer;
        margin-right: 20px;
        z-index: 100;
    }
    .toggle img{
        width: 35px;
    }

    /* 인기음악 */
    .slider_wrap{
        width: 70.31vw;
        height: 47.21vh;
    }
    .slide li{
        width: 23.43vw;
        height: 47.21vh;
    }

    #music > span{
        width: 7vw;
        height: auto;
        top: 62%;
    }
    .prev{
        left: 3%;
        padding-left: 0.2%;
    }
    .prev img{
        width: 5.5vw;
    }
    .next{
        right: 3%;
        padding-top: 0.5%; 
        padding-left: 0.9%;
    }
    .next img{
        width: 5.5vw;
    }

    .textbox{
        height: 13.11vh;
    }
    .textbox > span{
        font-size: 2.5vw;
    }

    /* 앨범 */ 
    .albumbox-wrap{
        height: auto;
        row-gap: 6.25vw;
    }

    .albumbox{
        width: 34.72vw;
        height: auto;
    }
    .albumbox a > img{
        width: 34.72vw;
        height: 60.46vh;
        padding: 1%;
    }

    .title > a > span,
    .title2 > a > span{
        font-size: 2.7vw;
    }
    .title > p,
    .title2 > p,
    .title > .smallriize,
    .title2 > .smallriize{
        font-size: 1.38vw;
    }

    img[alt="플레이바"]{
        width: 17vw;
    }

    .playbox > button img{
        width: 3.47vw;
    }
    .playbox > button{
        width: 3.47vw;
        height: 5.24vh;
        margin: 0 1.05vw;
    }
    .skip > img[alt="왼쪽 스킵"],
    .next-skip > img[alt="다음"]{
        width: 3.125vw;
        margin-bottom: 0.2vh;
    }

    #album > a{
        font-size: 3.8vw;
        padding: 0.5vh 8%;
    }

    /* 멤버 */
    .memberbox{
        height: auto;
    }
    .memberbox > a{
        width: 24.79vw;
        height: auto;
        margin-bottom: 30px;
    }
    .memberbox > a > p{
        font-size: 2.77vw;
    }
    #member > span{
        margin-bottom: 8%;
        font-size: 7vw;
        line-height: 10vh;
    }

    /* 푸터 */
    footer li{
        margin: 1.32vh 0.69vw;
    }
    footer li > a{
        font-size: 1.73vw;
    }
    footer a > img{
        width: 24.3vw;
        height: 28.8vh;
        margin: 2.64vh 0;
    }
    footer > P{
        font-size: 1.38vw;
        padding-bottom: 1.32vh;
    }
}



/*---------------- 1441px~1619px ---------------- */
@media (min-width: 1441px) and (max-width: 1619px){
    #wrap{
        max-width: 1619px;
        margin: 0 auto;
        height: auto;
    }
    header, #slider1, #music, #riize2{
        max-width: 100%;
    }
    
    #album, .album-wrap, #member{
        max-width: 1400px;
    }

    #music, #album, #member{
        height: auto;
    }

    #music > p,
    #album > p,
    #member > p{
        font-size: 115px;
    }

    /* 헤더[메뉴] */
    .left_header .logo{
        width: 140px;
        height: 87px;
        margin: 15px 0;
    }
    .left_header .b{
        width: 25px;
        margin-bottom: 15px;
    }

    .header_nav a{
        font-size: clamp(22px, 1.55vw, 24px);
    }
    .right_header a{
        font-size: clamp(15px, 0.93vw,18px);
    }

    /* 인기음악 */
    .slider_wrap{
        width: 76.25vw;
        height: 51.2vh;
    }
    .slide li{
        width: 25.41vw;
        height: 51.2vh;
    }
}