@charset "utf-8";

/* ~ 600px */
@media (max-width: 600px){
    #wrap{
        max-width: 600px;
        height: auto;
    }

    #profile > h2,
    #profile > .profile-p{
        font-size: 8vw;
    }
    #profile > p{
        font-size: 6vw;
    }
    
    #profile > .member-profile{
        width: 100%;
        margin: 0 auto;
        row-gap: 3.147vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    #profile > .member-profile li{
        margin: 1% 5%;
        width: 20vw;
        font-size: 3vw
    }
    #profile > .member-profile li img{
        width: 20vw;
    }

    #profile-box-wrap,
    #profile-box-wrap > .riize-briize-box{
        width: 95%;
    }

    .riize-textbox p, 
    .briize-textbox p{
        line-height: 4.5vh;
    }

    .member-profile-box{
        height: auto;
        padding: 3.147vh 0;
    }
    .member-profile-box h2{
        font-size: 8vw;;
    }

    .member-profile-box .profile-img{
        width: 40vw;
    }
    .member-profile-box .sign-img{
        width: 30vw;
    }

    .member-profile-box div{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 7%;
    }

    .member-profile-box .profile-table th,td{
        font-size: 2vw;
    }
    .member-profile-box .profile-table td span{
        font-size: 1.5vw;
    }

    .member-profile-box .table1{
        margin-top: 4.5vh;
        width: 80vw;
        
    }
    .member-profile-box .table1 th{
        width: 13vw;
        text-align: center;
        border-bottom: none;
        background-color: #f3f2f2;
    }
    .member-profile-box .table1 td{
        border-bottom: none;
    }
    
    .member-profile-box .table1 td:not(:first-child){
        width: 45vw;
        padding: 2.098vh 1.04vw;
    }

    .member-profile-box .table2{
        width: 80vw;
        margin: 0;
     }

     .member-profile-box .table2 td:not(:first-child){
        width: 45vw;
        padding: 2.098vh 1.04vw;
    }

    .shotaro-box .sign-img,
    .eunseok-box .sign-img{
        right: 3%;
        bottom: -1%;
    }

    .wonbin-box .sign-img{
        right: 2.5%;
        bottom: 0%;
    }

    .sungchan-box .sign-img,
    .sohee-box .sign-img,
    .anton-box .sign-img{
        right: 3%;
        bottom: -0.5%;
    }
}

/* 601px ~ 1024px */
@media (min-width: 601px) and (max-width: 1024px){
    #wrap{
        max-width: 1024px;
        height: auto;
    }

    #profile > h2,
    #profile > .profile-p{
        font-size: 8vw;
    }
    #profile > p{
        font-size: 6vw;
    }
    
    #profile > .member-profile{
        width: 100%;
        margin: 0 auto;
        row-gap: 3.147vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    #profile > .member-profile li{
        margin: 1% 5%;
        width: 20vw;
        font-size: 3vw
    }
    #profile > .member-profile li img{
        width: 20vw;
    }

    #profile-box-wrap,
    #profile-box-wrap > .riize-briize-box{
        width: 95%;
    }

    .riize-textbox p, 
    .briize-textbox p{
        line-height: 4.5vh;
    }

    .member-profile-box{
        height: auto;
        padding: 3.147vh 0;
    }
    .member-profile-box h2{
        font-size: 8vw;;
    }

    .member-profile-box .profile-img{
        width: 40vw;
    }
    .member-profile-box .sign-img{
        width: 30vw;
    }

    .member-profile-box div{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 7%;
    }

    .member-profile-box .profile-table th,td{
        font-size: 2vw;
    }
    .member-profile-box .profile-table td span{
        font-size: 1.5vw;
    }

    .member-profile-box .table1{
        margin-top: 4.5vh;
        width: 80vw;
        
    }
    .member-profile-box .table1 th{
        width: 13vw;
        text-align: center;
        border-bottom: none;
        background-color: #f3f2f2;
    }
    .member-profile-box .table1 td{
        border-bottom: none;
    }
    
    .member-profile-box .table1 td:not(:first-child){
        width: 45vw;
        padding: 2.098vh 1.04vw;
    }

    .member-profile-box .table2{
        width: 80vw;
        margin: 0;
     }

     .member-profile-box .table2 td:not(:first-child){
        width: 45vw;
        padding: 2.098vh 1.04vw;
    }

    .shotaro-box .sign-img,
    .eunseok-box .sign-img{
        right: 3%;
        bottom: -1%;
    }

    .wonbin-box .sign-img{
        right: 2.5%;
        bottom: 0%;
    }

    .sungchan-box .sign-img,
    .sohee-box .sign-img,
    .anton-box .sign-img{
        right: 3%;
        bottom: -0.5%;
    }
}

/* 1025px ~ 1440px */
@media (min-width: 1025px) and (max-width: 1440px){
    #wrap{
        max-width: 1440px;
        height: auto;
    }

    .riize-textbox p, 
    .briize-textbox p{
    line-height: 6vh;
    }

    .member-profile-box{
        height: auto;
    }

    .member-profile-box .profile-img{
        width: 26.041vw;
        height: auto;
    }

    .member-profile-box .sign-img{
        width: 23.4375vw;
        height: auto;
    }

    .sungchan-box .sign-img,
    .sohee-box .sign-img,
    .anton-box .sign-img{
        right: 3%;
        bottom: 0%;
    }

    .member-profile-box .profile-img{
        width: 26.041vw;
        height: auto;
        box-shadow: 1.04vw 0.5vh 1.04vw #979797;
        cursor: pointer;
    }
}


/* 1441px ~ 1619px */
@media (min-width: 1441px) and (max-width: 1619px){
    #wrap{
        max-width: 1619px;
        height: auto;
    }

    #profile-box-wrap,
    #profile-box-wrap > .riize-briize-box{
        width: 92.649vw;
    }

    .riize-textbox p, 
    .briize-textbox p{
        width: 88.94vw;
    }

/* --------------- 멤버 설명 공통된것 --------------- */
    .member-profile-box{
        width: 92.649vw;
        height: auto;
    }

    .member-profile-box .table2{
        width: 72.5vw;
    }

    .sungchan-box .sign-img,
    .sohee-box .sign-img,
    .anton-box .sign-img{
        right: 5%;
        bottom: 0%;
    }
}