@charset "utf-8";

/* ~ 600px */
@media (max-width: 600px){
    #wrap{
        max-width: 600px;
        height: auto;
    }
}

/* 601px ~ 1024px */
@media (min-width: 601px) and (max-width: 1024px){
    #wrap{
        max-width: 1024px;
        height: auto;
    }
}

/* 1025px ~ 1440px */
@media (min-width: 1025px) and (max-width: 1440px){
    #wrap{
        max-width: 1440px;
        height: auto;
    }
}

/* 1441px ~ 1619px */
@media (min-width: 1441px) and (max-width: 1619px){
    #wrap{
        max-width: 1619px;
        height: auto;
    }

    #profile-box-wrap,
    #profile-box-wrap > .riize-briize-box{
        width: 92.649vw;
    }

    .riize-textbox p, 
    .briize-textbox p{
        width: 88.94vw;
    }

/* --------------- 멤버 설명 공통된것 --------------- */
    .shotaro-box,
    .eunseok-box,
    .sungchan-box,
    .wonbin-box,
    .sohee-box,
    .anton-box{
        width: 92.649vw;
    }

    .shotaro-box > div > img[alt="쇼타로"],
    .eunseok-box > div > img[alt="은석"],
    .sungchan-box > div > img[alt="성찬"],
    .wonbin-box > div > img[alt="원빈"],
    .sohee-box > div > img[alt="소희"],
    .anton-box > div > img[alt="앤톤"]{
        width: 30.88vw;
        height: auto;
    }

    .shotaro-box > div > img[alt="쇼타로싸인"],
    .eunseok-box > div > img[alt="은석싸인"],
    .sungchan-box > div > img[alt="성찬싸인"],
    .wonbin-box > div > img[alt="원빈싸인"],
    .sohee-box > div > img[alt="소희싸인"],
    .anton-box > div > img[alt="앤톤싸인"]{
        width: 28vw;
        height: auto;
    }
}